:host {
    display: flex;
    align-items: center;
    gap: 16px;

    box-shadow: 0 2px 4px 0 rgba(93, 95, 97, 0.2), 0 1px 2px 0 rgba(93, 95, 97, 0.2);
    background: #1074cc;
    padding: 0 12px 0 16px;
    color: white;

    @media (max-width: 1030px) {
        padding: 0 8px 0 16px;
    }
}

:host .burger {
    display: none;
    @media (max-width: 1030px) {
        display: flex;
    }

}

:host .menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 1030px) {
        display: none;
    }
}

:host app-filters {
    position: absolute;
    top: 54px;
    left: 0;
}

:host .add-button {
    @media (max-width: 1030px) {
        display: none;
    }
}

:host svg {
    color: white;
}

:host .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-left: auto;

    @media (max-width: 1030px) {
        display: none;
    }
}

:host .mobile-buttons-block {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-left: auto;

    @media (max-width: 1030px) {
        display: flex;
    }
}



