:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "SF UI Display", sans-serif;
}

body {
    margin: 0;
    padding: 0;

    p {
        margin: 0;
        padding: 0;
    }
}

input, textarea, select, button {
    all: unset;
    box-sizing: border-box;
    font-family: inherit;
    outline: none;

    &:focus {
        border: none;
        outline: none
    }
}
